

.jumbotron{
    position: relative;
    .form-control{
        width: 70.37%;
    }
    .input-group-append{
        width: 29.63%;
    }
    .input-group-text{
        width: 100%;
        color: #fff;
        display: block;
        text-align: center;
    }
}